<!-- Mission -->
<section class="page-section" id="{{ site.data.sitetext[page.locale].mission.section | default: " mission" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading color-white">{{ site.data.sitetext[page.locale].mission.title | default:
          "mission" }}</h2>
        <h3 class="section-subheading mission-subheading-style">{{ site.data.sitetext[page.locale].mission.text }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12 m-auto">
        <div class="row">
          <p class="section-subheading">
            
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-12 m-auto">
        <div class="row">
          <p class="mission-vision-text">b</p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End mission -->