
<!-- Navigation -->
{% assign lang = site.active_lang %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <img height="{{ site.logo.height | default: 60 }}" src="{{ site.canonical_url }}/assets/img/logo-transparant-cropped.png" alt="Nefzi-boxingclub logo"/>

    </a>

    <!-- Language Picker -->
    <div class="dropdown" tab-index="0">
      <button id="dropdown-btn"></button>
      <ul class="dropdown-content" id="dropdown-content"></ul>
    </div>

    <!-- Navigation bar -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">

        {% for link in site.data[lang].navigation.nav %}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
          {%- elsif link.section -%}
          <a class="nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
          {%- else -%}
          <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      {%- if site.data[lang].sitetext.header.title -%}
      <h2 class="intro-lead-in">{{ site.data[lang].sitetext.header.title | markdownify }}</h2>
      {%- endif -%}
    </div>
  </div>
</header>

<!-- End Header -->