<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[page.locale].prices.section | default: " prices" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.sitetext[page.locale].prices.title | markdownify |
          default: "About" }}</h2>
        <h3 class="section-subheading section-subheading-prices">{{ site.data.sitetext[page.locale].prices.text}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- https://codes4education.com/responsive-pricing-table-card-design-with-bootstrap/ -->
        <div class="container mb-5 mt-5">
          <div class="pricing card-deck flex-column flex-md-row mb-3 ">
            {% for category in site.data.sitetext[page.locale].prices.categories %}
            <div class="card card-pricing text-center px-2 mb-4">
              <span class="h6 w-60 mx-auto px-5 py-2 rounded-bottom card-color text-white shadow-sm card-title">{{
                category.title }}</span>
              
              <div class="card-body pt-3">
                <ul class="list-unstyled mb-1">
                  €{{
                  category.price }} {{
                  category.frequency }}
                </ul>
                <div class="separator"></div>

                <ul class="list-unstyled mb-1">
                  {% for point in category.info-schedule %}
                  <li>{{ point.description }}</li>
                  {% endfor %}
                </ul>
                <div class="separator"></div>
                <ul class="list-unstyled mb-4">
                  {% for point in category.info-training %}
                  <li>{{ point.description }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>