<section class="page-section" id="{{ site.data.sitetext[site.locale].schedule.section | default: " schedule" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.sitetext[site.locale].schedule.title }}</h2>
      </div>
    </div>
    <div class="row">
      <br />
      <!-- credits to: https://codyhouse.co/gem/schedule-template/-->
      <div class="col-lg-12">
        <div class="cd-schedule loading">
          <div class="_timeline">
            <ul>
              <li><span>14:00</span></li>
              <li><span>14:30</span></li>
              <li><span>15:00</span></li>
              <li><span>15:30</span></li>
              <li><span>16:00</span></li>
              <li><span>16:30</span></li>
              <li><span>17:00</span></li>
              <li><span>17:30</span></li>
              <li><span>18:00</span></li>
              <li><span>18:30</span></li>
              <li><span>19:00</span></li>
            </ul>
          </div> <!-- .timeline -->

          <div class="events">
            <ul class="wrap">
              {% for day in site.data.sitetext[site.locale].schedule.days %}
                <li class="events-group">
                  {% if day.events %}
                    <div class="top-info"><span>{{ day.name }}</span></div>
                  {% else %}
                    <div class="top-info mobile-do-not-display"><span>{{ day.name }}</span></div>
                  {% endif %}
                  
                  <ul>
                    {% for event in day.events %}
                      <li class="single-event" data-start="{{ event.start }}" data-end="{{ event.end }}" data-content="event-abs-circuit"
                        data-event="{{ event.type }}">
                        <a>
                          <em class="event-name">{{ event.description }}</em>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                  
                </li>
                {% endfor %}
            </ul>
          </div>
        </div> 
      </div>
</section>