<!-- Trainer -->
<section class="bg-light page-section page-section-no-padding"
	id="{{ site.data.sitetext[page.locale].trainer.section | default: 'trainer' }}">

	<div class="container container-no-margin">
		<div class="row trainer-section">
			<div class="col-md-6 order-md-1 d-flex col-no-padding">
				<img src="{{ site.data.sitetext[page.locale].trainer.image }}"
					alt="{{ site.data.sitetext[page.locale].trainer.image-alt }}" class="img-fluid img-trainer">
			</div>
			<div class="col-md-6 order-md-2 d-flex align-items-center text-center">
				<div class="info-container">
					<h2 class="section-heading">{{
						site.data.sitetext[page.locale].trainer.title }}</h2>

					<h2 class="text-bold trainer-palmares">{{ site.data.sitetext[page.locale].trainer.name }}</h2>
					<p class="trainer-description text-muted">{{ site.data.sitetext[page.locale].trainer.description }}
					</p>

					<p class="text-bold trainer-palmares">Palmares</p>

					<p class="text-muted trainer-palmares-item">{{
						site.data.sitetext[page.locale].trainer.palmares.record }}</p>

					{% for title in site.data.sitetext[page.locale].trainer.palmares.titles %}
					<p>-</p>
					<p class="text-muted trainer-palmares-item">{{ title.name }}</p>

					{% endfor %}


				</div>
			</div>
		</div>
	</div>
</section>