// Styling for the team section
.map-location {
    text-align: center;

}
.map-location-iframe {
    width: 90%;
    height: 360px;
}

.section-subheading-location{
    font-size: 18px !important;
    line-height: 24px;
    font-style: normal !important;
}