section#mission {
  background-color: rgb(24, 24, 24);
}
.color-white {
  color: white;
}

.mission-subheading-style{
  margin: 12%;
  font-size: 18px !important;
  line-height: 24px;
  font-weight: 700;
  color: white;
  font-style: normal !important;
}

@media (min-width: 768px) {
  .mission-subheading-style{
    padding-top: 40px;
    margin: 12%;
    font-size: 18px !important;
    line-height: 24px;
    font-weight: 700;
    color: white;
    font-style: normal !important;
  }

}