.page-section-no-padding {
  padding: 0 0 0 0;
}

.container-no-margin {
  margin: 0%;
  max-width: 100%;
}
.col-no-padding {
  padding: 0%;
}

.trainer-section {
  display: flex;
  flex-direction: row; /* Default layout for larger screens */
}

.image-container {
  flex: 1; /* Image takes 1/2 of the width on larger screens */
}

.info-container {
  flex: 1; /* Info takes 1/2 of the width on larger screens */
  padding: 10%;
}

.img-trainer {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.trainer-description {
  font-size: 22px;
}

.trainer-palmares {
  font-size: 28px;
  padding: 50px 20px 20px 20px;
}

.trainer-palmares-item {
  font-size: 18px;
}

.text-bold {
  font-weight: bold;
}

/* Media Query for Mobile Screens */
@media (max-width: 767px) {
  .trainer-section {
    flex-direction: column; /* Stacking elements for smaller screens */
  }
  
  .image-container,
  .info-container {
    flex: auto; /* Elements take full width on smaller screens */
  }
  .section-heading-bottom-padding {
    padding-bottom: 10px;
  }
  .trainer-description {
    font-size: 18px;
  }
  .trainer-palmares-item {
    font-size: 16px;
  }
}